db.sqlite3
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/emotion_analysis_code.py
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/main_nltk.py
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/twitter_analysis.py
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/settings.py
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/read.txt
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/main.py
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/graph.png
developments/twitter_emotions/Emotion/GIT_Reference_originalcode/emotions.txt
